@tailwind base;
@tailwind components;
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(./assets/fonts/Montserrat-Regular.otf) format("otf");
}

@tailwind utilities;
/* Ag_Grid Css Customization */

.ag-theme-bootstrap {
  min-height: 400px !important;
  text-align: left !important;
  overflow-x: scroll !important;
}

.ag-theme-bootstrap .ag-body-viewport{
  overflow-x: scroll !important;
}

.ag-theme-bootstrap .ag-header-row {
  height: 27px !important;
  width: 200px !important;
  font-weight: bold !important;
}

.ag-theme-bootstrap .ag-header-row .ag-header-cell {
  border-right: 0.5px solid rgb(167, 167, 167) !important;
}

.modal {
  transition: opacity 0.25s ease;
}

body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}

/* .ag-theme-bootstrap .ag-header-icon {
  color: white !important;
}

.ag-theme-bootstrap .ag-header-cell {
  color: white !important;
  font-weight: bold !important;
  padding-top: 10px !important;
  margin-bottom: 30px !important;
  margin: auto !important;
  text-align: center !important;
}

.ag-theme-bootstrap .ag-selection-checkbox {
  color: white !important;
  border-color: white !important;
}

.ag-theme-bootstrap .ag-checkbox-input-wrapper {
  color: white !important;
  border-color: white !important;
}

.ag-theme-bootstrap .ag-checkbox-input-wrapper::after {
  color: white !important;
} */

/* .ag-theme-bootstrap .ag-root-wrapper {
  background: transparent !important;
  text-align: center !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-family: "Montserrat" !important;
  color: white !important;
  font-size: 17px !important;
} */
/*
.ag-theme-bootstrap .ag-row {
  position: relative !important;
  background: transparent !important;
  text-align: left !important;
  margin-top: 20px !important;
  font-family: "Montserrat" !important;
  color: white !important;
  height: 27px !important;
}

.ag-theme-bootstrap .ag-row .ag-cell {
  height: 50px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.ag-theme-bootstrap .ag-row-cell {
  height: 50px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
} */
